[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dj-database-url = "*"
dj-static = "*"
gunicorn = "*"
nltk = "*"
psycopg2 = "*"
Django = "~=2.2"
REfO = "*"
rdflib = "*"

[requires]
python_version = "3.7"
