[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dj-database-url = "==0.*"
dj-static = "==0.*"
Django = "==2.*"
gunicorn = "==20.*"
lxml = "==4.*"
nltk = "==3.*"
psycopg2 = "==2.*"
rdflib = "==5.*"
REfO = "==0.*"
requests = "==2.*"
SoMaJo = "==2.*"

[requires]
python_version = "3.8"
