[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dj-database-url = "==2.*"
dj-static = "==0.*"
Django = "==4.*"
dynaconf = "==3.*"
gunicorn = "==21.*"
lxml = "==5.*"
nltk = "==3.*"
psycopg = "==3.*"
rdflib = "==7.*"
requests = "==2.*"
SoMaJo = "==2.*"
SPARQLWrapper = "==2.*"

[requires]
python_version = "3.12"
