{% extends "sedatar/base.html" %}
{% block content %}
    <div id="main_text">
        <div id="text_left_column">
            <h1>About this website</h1>
            <p>
                The purpose of this website is to provide simple schematic depictions of known planetary
                systems, alongside with some additional information about the planets and their host stars.
                Planetary and stellar data is provided by
                <a href="https://exoplanetarchive.ipac.caltech.edu/">NASA's exoplanet archive</a> and is
                taken 'as is'. This is a hobbyist project and makes no claims about being complete, correct,
                consistent or even useful.
            </p>
            <p>
                A list of third-party libraries used by this project can be found
                <a href="{% url 'list_of_dependencies' %}">here</a>.
            </p>
            <h2>Version</h2>
            <p>
                Sedatar Version v0.7beta.
            </p>
            <h2>Contact</h2>
            <address>
                <p>
                    Mathias Uhlenbrock
                    <br>
                    Wilhelmshavener Straße 43
                    <br>
                    10551 Berlin
                    <br>
                    Germany
                </p>
            </address>
            <p>
                Phone: +49 (0)160 1757921
                <br>
                Email: mathias.uhlenbrock@gmail.com
            </p>
            <p>
                &copy; 2024 Mathias Uhlenbrock. All rights reserved.
            </p>
        </div>
        <div id="text_right_column"></div>
    </div>
{% endblock %}
{% block navigation %}
    <!-- Button "Home" -->
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
    <a href="/">
        <svg width="100%" height="100">
            <rect class="navigation" width="100%" height="100%"></rect>
            <text class="text" x="10" y="90">Home</text>
        </svg>
    </a>
    <!-- Button "Up" -->
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
    <a href="../">
        <svg width="100%" height="100">
            <rect class="navigation" width="100%" height="100%"></rect>
            <text class="text" x="10" y="90">Up</text>
        </svg>
    </a>
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
{% endblock %}
