{% extends "sedatar/base.html" %}
{% block content %}
    <div id="main_text">
        <div id="text_left_column">
            <h3>Your question</h3>
            <p>
                {{ question }}
            </p>
            <h3>Your answers from Astronomical Database</h3>
            {% comment %}
            <table style="margin-top: 2em; border-spacing: 0px">
                {% for answer in list_of_answers.object_list %}
                    <tr>
                        <td class="cell_standard">
                            {{ answer|safe }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endcomment %}
            <ul>
                {% for answer in list_of_answers.object_list %}
                    <li>
                        {{ answer|safe }}
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                <p>
                <span class="step-links">
                    {% if list_of_answers.has_previous %}
                        <a href="?page={{ list_of_answers.previous_page_number }}&question={{ question }}"
                           accesskey="h">Previous</a> |
                    {% endif %}
                    <span class="current">
                        Answer {{ list_of_answers.number }} of {{ list_of_answers.paginator.num_pages }}
                    </span>
                    {% if list_of_answers.has_next %}
                        | <a href="?page={{ list_of_answers.next_page_number }}&question={{ question }}"
                             accesskey="l">Next</a>
                    {% endif %}
                </span>
                </p>
            </div>
            <h3>Your answers from Wikidata</h3>
            <ul>
                {% for answer in list_of_wikidata_answers.object_list %}
                    <li>
                        {{ answer|safe }}
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                <p>
                <span class="step-links">
                    {% if list_of_wikidata_answers.has_previous %}
                        <a href="?page_wikidata={{ list_of_wikidata_answers.previous_page_number }}&question={{ question }}"
                           accesskey="h">Previous</a> |
                    {% endif %}
                    <span class="current">
                        Answer {{ list_of_wikidata_answers.number }} of {{ list_of_wikidata_answers.paginator.num_pages }}
                    </span>
                    {% if list_of_wikidata_answers.has_next %}
                        |
                        <a href="?page_wikidata={{ list_of_wikidata_answers.next_page_number }}&question={{ question }}"
                           accesskey="l">Next</a>
                    {% endif %}
                </span>
                </p>
            </div>
        </div>
        <div id="text_right_column">
        </div>
    </div>
{% endblock %}
{% block navigation %}
    <!-- Button "New search" -->
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
    <a href="/">
        <svg width="100%" height="100">
            <rect class="navigation" width="100%" height="100%"></rect>
            <text class="text" x="10" y="90">New search</text>
        </svg>
    </a>
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
{% endblock %}
