{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    <title>Sedatar</title>
</head>
<body>
<div class="grid">
    <div id="cell1"></div>
    <div id="cell2"></div>
    <div id="cell3"></div>
    <div id="cell4"></div>
    <div id="cell5"></div>
    <div id="cell6"></div>
    <div id="cell7">
        <!-- Begin main section -->
        <div id="main_section">
            {% block content %}
            {% endblock %}
        </div>
        <!-- End main section -->
    </div>
    <div id="cell8">
        <!-- Begin navigation bar -->
        <div>
            {% block navigation %}
            {% endblock %}
        </div>
        <!-- End navigation bar -->
    </div>
    <div id="cell9"></div>
    <div id="cell10"></div>
    <div id="cell11"></div>
    <div id="cell12"></div>
</div>
</body>
</html>
