{% extends "sedatar/base.html" %}
{% block content %}
    <div id="main_text">
        <div id="text_header">
            <h1>List of databases</h1>
            <p>
                A list of available databases.
            </p>
        </div>
        <div id="text_multicolumn_2">
            <table>
                {% for database in list_of_databases.object_list %}
                    <tr>
                        <td class="cell_standard">
                            <a href="/{{ database.page_name }}/List_of_categories/">{{ database.name }}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="cell_standard">
                            No databases are yet available.
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="text_footer">
            <br>
            <div class="pagination">
        <span class="step-links">
            {% if list_of_databases.has_previous %}
                <a href="?page={{ list_of_databases.previous_page_number }}" accesskey="h">previous</a> |
            {% endif %}
            <span class="current">
                page {{ list_of_databases.number }} of {{ list_of_databases.paginator.num_pages }}
            </span>
            {% if list_of_databases.has_next %}
                | <a href="?page={{ list_of_databases.next_page_number }}" accesskey="l">next</a>
            {% endif %}
        </span>
            </div>
        </div>
    </div>
{% endblock %}
{% block navigation %}
    <!-- Button "Home" -->
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
    <a href="/">
        <svg width="100%" height="100">
            <rect class="navigation" width="100%" height="100%"></rect>
            <text class="text" x="10" y="90">Home</text>
        </svg>
    </a>
    <!-- Button "Up" -->
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
    <a href="../">
        <svg width="100%" height="100">
            <rect class="navigation" width="100%" height="100%"></rect>
            <text class="text" x="10" y="90">Up</text>
        </svg>
    </a>
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
{% endblock %}
