{% extends "sedatar/base.html" %}
{% block content %}
    <div id="main_text">
        <div id="text_left_column">
            <h1>List of dependencies</h1>
            <!-- Table cannot be within paragraph. -->
            <p></p>
            <table>
                <tbody>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/django/django">Django</a></td>
                    <td class="cell_standard">
                        A high-level Python Web framework that encourages rapid development and clean, pragmatic design
                    </td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/rochacbruno/dynaconf">dynaconf</a></td>
                    <td class="cell_standard">The dynamic configurator for your Python Project</td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/benoitc/gunicorn">gunicorn</a></td>
                    <td class="cell_standard">WSGI HTTP Server for UNIX</td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/lxml/lxml">lxml</a></td>
                    <td class="cell_standard">
                        Powerful and Pythonic XML processing library combining libxml2/libxslt with the ElementTree API
                    </td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/nltk/nltk">NLTK</a></td>
                    <td class="cell_standard">Natural Language Toolkit</td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/postgres/postgres">PostgreSQL</a></td>
                    <td class="cell_standard">The World's Most Advanced Open Source Relational Database</td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/psycopg/psycopg2">psycopg2</a></td>
                    <td class="cell_standard">psycopg2 - Python-PostgreSQL Database Adapter</td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/mathiasuhlenbrock/quepy">Quepy</a></td>
                    <td class="cell_standard">A framework to convert natural language to database queries</td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/RDFLib/rdflib">rdflib</a></td>
                    <td class="cell_standard">
                        RDFLib is a Python library for working with RDF, a simple yet powerful language for representing
                        information
                    </td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/mathiasuhlenbrock/refo">REfO</a></td>
                    <td class="cell_standard">Regular expressions for objects</td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/psf/requests">requests</a></td>
                    <td class="cell_standard">Python HTTP for Humans</td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/tsproisl/SoMaJo">SoMaJo</a></td>
                    <td class="cell_standard">
                        A tokenizer and sentence splitter for German and English web and social media texts
                    </td>
                </tr>
                <tr>
                    <td class="cell_standard"><a href="https://github.com/RDFLib/sparqlwrapper">SPARQLWrapper</a></td>
                    <td class="cell_standard">SPARQL Endpoint interface to Python</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="text_right_column"></div>
    </div>
{% endblock %}
{% block navigation %}
    <!-- Button "Home" -->
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
    <a href="/">
        <svg width="100%" height="100">
            <rect class="navigation" width="100%" height="100%"></rect>
            <text class="text" x="10" y="90">Home</text>
        </svg>
    </a>
    <!-- Button "Up" -->
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
    <a href="../">
        <svg width="100%" height="100">
            <rect class="navigation" width="100%" height="100%"></rect>
            <text class="text" x="10" y="90">Up</text>
        </svg>
    </a>
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
{% endblock %}
