{% extends "sedatar/base.html" %}
{% block content %}
    <div id="main_text">
        <div id="text_header">
            <h1>{{ catalogue.name }}</h1>
            <p>
                A list of stars with planetary systems.
            </p>
        </div>
        <div id="text_multicolumn_4">
            <table>
                {% for planetary_system in list_of_planetary_systems.object_list %}
                    <tr>
                        <td class="cell_standard">
                            <a href="/Astronomical_database/List_of_planetary_systems/{{ planetary_system.page_name }}/">
                                {{ planetary_system.name }}
                            </a>
                            {% if planetary_system.number_of_planets == 1 %}
                                ({{ planetary_system.number_of_planets }} Planet)
                            {% else %}
                                ({{ planetary_system.number_of_planets }} Planets)
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="cell_standard">
                            No stars with planetary systems are yet available.
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="text_footer">
            <div class="pagination">
                <p>
                <span class="step-links">
                    {% if list_of_planetary_systems.has_previous %}
                        <a href="?page={{ list_of_planetary_systems.previous_page_number }}"
                           accesskey="h">Previous</a> |
                    {% endif %}
                    <span class="current">
                        Page {{ list_of_planetary_systems.number }}
                        of {{ list_of_planetary_systems.paginator.num_pages }}
                    </span>
                    {% if list_of_planetary_systems.has_next %}
                        | <a href="?page={{ list_of_planetary_systems.next_page_number }}" accesskey="l">Next</a>
                    {% endif %}
                </span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block navigation %}
    <!-- Button "Home" -->
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
    <a href="/">
        <svg width="100%" height="100">
            <rect class="navigation" width="100%" height="100%"></rect>
            <text class="text" x="10" y="90">Home</text>
        </svg>
    </a>
    <!-- Button "Up" -->
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
    <a href="../">
        <svg width="100%" height="100">
            <rect class="navigation" width="100%" height="100%"></rect>
            <text class="text" x="10" y="90">Up</text>
        </svg>
    </a>
    <svg class="vspace">
        <rect width="100%" height="100%"></rect>
    </svg>
{% endblock %}
